#top{

border-style: solid;
border-color: darkgray;
border-width: 6px;
width: 50%;
margin-left: 250px;
margin-top: 5px;
padding-left: 300px;
background-color: orange;
font-family: 'BenchNine', sans-serif;

}
#bottom{

    border-style: solid;
    border-color: blue;
    border-width: 6px;
    width: 50%;
    margin-top: 440px;
    margin-left: 250px;
    padding-left: 300px;
    background-color: greenyellow;
    font-family: 'BenchNine', sans-serif;

    font-family: 'Days One', sans-serif;

    font-family: 'Saira', sans-serif;
    }
    h1{

        font-family: 'BenchNine', sans-serif;

        font-family: 'Days One', sans-serif;
    
        font-family: 'Saira', sans-serif;

    }